/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,ul,li,nav {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.logo {
    width: 120px;
}

.userinputBox {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #f4f4f4;
    padding: 15px;
    min-height: 80px;

    input {
        width: 100%;
        display: block;
        min-height: 30px;
        margin-bottom: 30px;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        border: 1px solid rgb(30, 7, 161);
    }

    button {
        min-width: 100px;
        min-height: 32px;
        text-align: center;
        border: 1px solid rgb(30, 7, 161);
        font-weight: 600;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        display: block;
        margin: 0 auto;
        background-color: #fff;
        cursor: pointer;

        &:hover {
            background-color: rgb(30, 7, 161);
            color: #fff;

        }
    }
}

.main {
    background-color: #d75d77;
    border: 1px solid pink;

    .nav-bar {
        font-size: 13px;
        padding: 5px 10px;
        ul {
            li {
                display: inline-block;
                transition: border 1s, border-radius 1s, padding 1s, background-color 1s, color 1s;
                padding: 10px;
                border-bottom: 2px solid transparent;
                min-width: 100px;
                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover {
                    border-bottom: 2px solid gray;
                    border-radius: 10%;
                    background-color: #e91e63;
                    color: white;
                }
            }
        }
    }
}